<div class="container main-container h-100">

  <div class="row h-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="display-4 text-center">O wystawie</h1>
    </div>
  </div>

  <div class="row h-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <p class="text-justify">
        Przyglądając się pracom Erwina Sówki i Raspazjana można przez długi czas zastanawiać się,
        gdzie w tym wszystkim tkwi nieprofesjonalizm. Unikalny warsztat, niemożliwy do podrobienia,
        czy chociażby nawet do naśladowania, jest tak charakterystyczny, że wiemy od razu, kto jest
        jego sprawcą. Sztuka nieprofesjonalna rodzi się w innych warunkach. Wyuczona intuicyjnie,
        o wzbogaconej treściowo warstwie, jest możliwa właśnie dlatego, że nikt nigdy nie próbował
        jej zamknąć w jakichkolwiek ramach. Wyobraźni artysty nie temperuje się i nie ukierunkowuje,
        a brak akademickiego wykształcenia i profesjonalnego przygotowania w żaden sposób nie ujmuje
        dziełom ich estetycznej wartości. Taki właśnie jest Sówka i taki jest Raspazjan. Dwa zupełnie
        różne języki wypowiedzi, dwa inne sposoby patrzenia na Śląsk. Sówka to ostatni żyjący
        przedstawiciel przesyconej okultyzmem Grupy Janowskiej, który maluje przemysł, pokazuje życie
        na kopalni i wokół niej.  Raspazjan patrzy na to wszystko z nieukrywanym zachwytem. Tworzy
        murale na pokopalnianych budynkach, delikatnie nawiązując do tego, co było. Ich prace łączą w
        sobie symbolikę śląskiego etosu pracy i duchowości, swobodnie oscylując wokół tych dwóch
        niezwykle istotnych dla każdego Ślązaka sfer.
        <br/>
        <br/>
        Kurator wystawy: Joanna Durkalec
        <br/>
        <br/>
        Współtwórcy wystawy: tajny_projekt
        <br/>
        <br/>
      </p>
    </div>
  </div>

  <div class="row h-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="display-4 text-center">Partnerzy</h1>
    </div>
  </div>

  <div class="row h-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>

  <!-- partners-logos -->
  <div class="row col-md-12">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-4 col-xs-12 h-5">
          <img src="assets/rajze.png" alt="image" class="img-fluid img-responsive" />
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 h-5">
          <img src="assets/kmo.png" alt="image" class="img-fluid img-responsive" />
      </div>
    </div>
  </div>
  <!-- end partners-logos -->

  <div class="row h-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>

</div>


