<div class="container h-70 d-flex justify-content-center">
  <div class="my-auto mx-auto row">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <h2>Wybierz postać:</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row justify-content-center">
          <h1 class="display-3">
              <a routerLink="/sowka" routerLinkActive="active">Sówka</a>
          </h1>
          <h1 class="display-3">&nbsp;/&nbsp;</h1>
          <h1 class="display-3">
              <a routerLink="/rasp" routerLinkActive="active">Razpazjan</a>
          </h1>
      </div>
    </div>
  </div>
</div>
