<div class="container h-100">

  <!-- selected character -->
  <div class="row h-10">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="display-3 text-center">Sówka</h1>
    </div>
  </div>

  <div class="row h-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
  <!-- END selected character -->

  <!-- page content -->
  <div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="text-justify">
          Przenieś się na katowicki Nikisz i wciel w rolę Erwina Sówki. Przejdź przez 2 poziomy gry i zdobądź zaproszenie na wernisaż.
        </p>
          <br/>
        <p class="text-justify">
          Psst! Unikej sagich bab!
        </p>
        <br/>

        <div class="row justify-content-center">
          <div class="col-md-12">
            <invitation></invitation>
          </div>
        </div>
      </div>
    </div>

    <div class="row h-5">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <button id="play-btn" role="button" type="button" class="btn btn-light w-100 rounded-0" aria-label="play" (click)="play()">
          <h3 >
            Zagraj!
          </h3>
        </button>
      </div>
    </div>

  </div>
  <!-- END page content -->

</div>
