<div *ngIf="!alreadyTakingPart">
  Do you want to receive invitation for exhibition ...?
  <br />

  blablabbal
  <br />
  <br />

  Provide LINK_FOR_PAGE_WITH_MAP_OF_QR_CODES
  <br />
</div>

<div *ngIf="alreadyTakingPart">
  Enable all informations by scanning QR codes that are placed close to Rasp works, for map you can check: LINK_FOR_PAGE_WITH_MAP_OF_QR_CODES
  <br />
  Below information about event, after unlock all informations you will be able to generate invitation for exhibition
  <br />
  (All below details should be provided by some service to do not hardocde it here)
  <br />
  Date: <p *ngIf="date !== 'false'">{{date}}</p> <p *ngIf="date === 'false'">???</p>
  <br />
  Time: <p *ngIf="time !== 'false'">{{time}}</p> <p *ngIf="time === 'false'">???</p>
  <br />
  Place: <p *ngIf="place !== 'false'">{{place}}</p> <p *ngIf="place === 'false'">???</p>
  <br />

  <!-- user not entitled to generate invitation -->
  <div *ngIf="!entitledToInvitation">
    You are not entitled to generate invitation yet, please unlock all informations first!
    <br />
  </div>
  <!-- END user not entitled to generate invitation -->

  <div *ngIf="entitledToInvitation">
    <invitation></invitation>
  </div>
</div>

