/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:700&subset=latin-ext');

body {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #070707;
}

html, body {
  height: 100%;
}

a {
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}

.h-70 {
  height: 70%;
}

.display-3 {
  font-weight: bold;
}

.display-4 {
  font-weight: bold;
}
