<div>

  Current invitation quantity: {{invitationsQuantity}}
  <!-- user not already invited -->
  <div *ngIf="!alreadyInvited">
    To Generate invitation please provide your Name and surname
    <br />

    <div>
        <form [formGroup]="invitationForm" (ngSubmit)="generateInvitation()">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="firstName" class="form-control"
                  [ngClass]="{ 'is-invalid': formSubmitted && form.firstName.errors }" />
                <div *ngIf="formSubmitted && form.firstName.errors" class="invalid-feedback">
                    <div *ngIf="form.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="lastName" class="form-control"
                  [ngClass]="{ 'is-invalid': formSubmitted && form.lastName.errors }" />
                <div *ngIf="formSubmitted && form.lastName.errors" class="invalid-feedback">
                    <div *ngIf="form.lastName.errors.required">Last Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <re-captcha formControlName="recaptcha" (resolved)="captchaResolved($event)"></re-captcha>
            </div>

            <div class="form-group">
                <button [disabled]="form.invalid" class="btn btn-primary">Generate invitation</button>
            </div>
        </form>
    </div>

    <br />
  </div>
  <!-- END user not already invited  -->

  <!-- user already generated invitation -->
  <div *ngIf="alreadyInvited">
    You already generated your invitation.
    <br />
    Your invitation refrence number: {{invitationId}}. Please bring this code with yourself on exhibition
    <br />
  </div>
  <!-- END user already generated invitation -->

</div>
